:root{
  --bg-color: #FADADD;         /* Baby Pink */
  --primary-color: #A7C7E7;    /* Pastel Blue */
  --secondary-color: #C2F0C2;  /* Mint Green */
  --tertiary-color: #DCC6E0;   /* Lavender */
  --text-color: #2E2E2E;       /* Dark Gray */
  --danger-color: #FFB3B3;
}
body{
    background-color: var(--bg-color);
}
.flex{
    display: flex;
}

.container {
  border: 2px solid black;
  margin:  20px 180px 20px 180px;
  justify-content: space-between;
  gap: 20px;
}


.nav-bar{
    justify-content: space-between;
    background-color: #A7C7E7;
    color: red;
}

.left{
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-right: 100px;
    text-transform: uppercase   ;
}

