:root {
  --bg-color: #fadadd; /* Baby Pink */
  --primary-color: #a7c7e7; /* Pastel Blue */
  --secondary-color: #7afb7a; /* Mint Green */
  --tertiary-color: #dcc6e0; /* Lavender */
  --text-color: #2e2e2e; /* Dark Gray */
  --danger-color: #ffb3b3;
}
body {
  background-color: var(--bg-color);
}
.flex {
  display: flex;
  flex-wrap: wrap;
}

.container {
  border: 2px solid black;
  margin: 20px 180px 20px 180px;
  justify-content: space-between;
  gap: 20px;
}

.nav-bar {
  flex-direction: row;
  justify-content: space-between;
  color: var(--text-color);
}

.left {
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding-right: 6.25rem;
  text-transform: uppercase;
  font-size: 1.875rem;
}
.title {
  text-transform: uppercase;
  font-weight: bolder;
  margin: 1.25rem 0.625rem 1.25rem 0.625rem; /* top right bot left*/
  color: var(--text-color);
}
.toDo {
  max-width: 400px;
  margin: 1.25rem 0.625rem 1.25rem 0.625rem;
  background: var(--danger-color);
  padding: 1.25rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#inToDO {
  width: 70%;
  padding: 0.625rem;
  font-size: 1rem;
}

.addTask {
  cursor: pointer;
}

#taskList {
  list-style: none;
  margin-top: 20px;
  padding: 0;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 5px;
  border-bottom: 1px solid #ddd;
}

.task-item.completed .task-text {
  text-decoration: line-through;
  color: gray;
}

.task-text {
  flex-grow: 1;
  padding-left: 10px;
}
